$pure_white: rgb(255, 255, 255);
$light-white: rgba(255, 255, 255, 0.658);
$pure_black: rgb(0, 0, 0);
$light_black: rgba(0, 0, 0, 0.4);
$main_color: #e8c4c4;
$light_main: #f2e5e5;
$main_color_transparent:#ffffffa2;
$sec_color: #2b3a55;
